[Unit]
Description=Rasa Action Server for Travel Voice Assistant
After=network.target currency_converter.service

[Service]
User=stjl0
Group=stjl0
WorkingDirectory=/home/stjl0/Travel-Assistant-Application/livekit-travel-assistant/rasa-bot
Environment="PATH=/home/stjl0/Travel-Assistant-Application/livekit-travel-assistant/rasa-bot/rasa_venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/snap/bin"
Environment="REQUESTS_CA_BUNDLE=/home/stjl0/Travel-Assistant-Application/livekit-travel-assistant/rasa-bot/rasa_venv/lib/python3.10/site-packages/certifi/cacert.pem"
Environment="CURL_CA_BUNDLE=/home/stjl0/Travel-Assistant-Application/livekit-travel-assistant/rasa-bot/rasa_venv/lib/python3.10/site-packages/certifi/cacert.pem"
ExecStartPre=/bin/sleep 5
ExecStart=/home/stjl0/Travel-Assistant-Application/livekit-travel-assistant/rasa-bot/rasa_venv/bin/rasa run actions -p 5055
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
